
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@*<p>@ViewBag.Usuario.Nome</p>
    <p>@ViewBag.Usuario.Nome</p>
    <p>@ViewBag.Usuario.Nome</p>*@
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

    <h2>Dados Pessoais</h2>

    <table>
        <tr>
            <th>Nome:</th>
            <th>Senha:</th>
            <th>E-mail:</th>
            <th>Data de Nascimento:</th>
        </tr>
        <tr>
            <td>@ViewBag.Usuario.Nome</td>
            <td>@ViewBag.Usuario.Senha</td>
            <td>@ViewBag.Usuario.Email</td>
            <td>@ViewBag.Usuario.DataDeNascimento</td>
        </tr>
        <tr>
            
    </table>

</body>
</html>